/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

body {
  /*   background: black; */
  /*   color: white; */
  font-family: "Source Serif Pro";
}

/* Typography related rules */
/* ---------------------------------------------------------------- */
p {
  font-family: "Source Serif Pro";
  line-height: 1.35;
}

.lead {
  line-height: 1.25;
}


.map-background-fixed {
  font-size: 2em;
}

/* Controlling headings */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Serif Pro";
  letter-spacing: -0.5px;
}

h1 {
  /*   font-family: "WremenaLight"; */

  font-weight: bold;
  /*   color: white; */
  font-size: calc(2.56 * 1rem);
  line-height: 0.95;
  letter-spacing: -0.5px;
}

h2 {
	font-weight: 300;
	font-size: calc(1.7 * 1rem);
}

h3 {
  font-size: calc(1.4 * 1rem);
  font-family: "Source Serif Pro";
}

h4 {
  font-size: calc(1.5 * 1rem);
  font-family: "Source Serif Pro";
  font-style: bold;
  margin-bottom: 0rem;
}

h5 {
  font-size: calc(1.2 * 1);
}

.intro-lead {
  color: white;
	font-size: 2em;
	line-height: 1.15;
}

.intro-leaf {
  color: white;
}

.subtitle {
  color: white;
}

.intro-dark {
  color: white;

} 


.bibliography p {
  font-size: .8em;
  margin-bottom: 0.7em;
}
/* Layout */
/* ---------------------------------------------------------------- */

.container {
	max-width: 40em;
}

#introduction {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); 
  background: rgb(247,255,243);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)),
  color-stop(50%, rgba(247,255,243,.95)),
   color-stop(80%, rgba(252,255,250,.87)),
    to(rgba(255,255,255,0)));
  background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,
  rgba(247,255,243,.95) 50%,
   rgba(252,255,250,.87) 80%,
    rgba(255,255,255,0) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%,
  rgba(247,255,243,.95) 50%,
   rgba(252,255,250,.87) 80%,
    rgba(255,255,255,0) 100%); 
  margin: auto auto;
  padding: 5rem;
}
.landmark-intro {
    max-width: 35em;
}

.landmark {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.1);
  margin: 200vh 0; /* this is how we control spacing of the story landmarks. */ 
}

.landmark-intro {
  max-width: 35em;
}

.landmark-story {

  margin: 50vh 0;
}

.landmark p {
  line-height: 1.3;
}

.scrollstory {
  /*   border: 100px solid red; */
  /*   z-index: 1000; */
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
}

.scrollstory > * {
  scroll-snap-align: start;
}

.viz-figure {
  width: 100%;
  min-height: 400px;
}

.vega-embed {
  position: relative;
  display: inline-block;
  width: 100%;
}

#mapid {
  /*   background: none; */
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

#appendix {
  /*   background: rgba(0, 0, 0, 0.8); */
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#appendix .container {
  /* position: relative;
  height: auto;
  bottom: 0; */
}

.intro-lead-container {
  max-width: 50em 
}

.observablehq {
  text-align: center;
}


/* ui elements */

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #ff7f10;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  width: 100px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}




/* SFX
 */
 .title {
	font-size: 5em;
	font-weight: 300;
	text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 4px -5px 6px yellow, -4px -10px 10px yellow, 0 -10px 30px yellow;
	-webkit-animation: 2s Blazing infinite alternate linear;
	        animation: 2s Blazing infinite alternate linear;
}

/* Blazing anim by Brian Purgert */
/* Lifted from https://codepen.io/BrianPurgert/pen/VwYvgJe */
@-webkit-keyframes Blazing {
	0%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
	25%   { text-shadow: 0 3px 20px red, 0 0 30px red,
		0 0 20px orange,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow; }
	50%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow,
		2px -20px 30px rgba(255,255,0,0.5); }
	75%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		3px -5px 5px yellow,
		-4px -10px 10px yellow,
		2px -20px 30px rgba(255,255,0,0.5),
		0px -25px 40px rgba(255,255,0,0)}
	100%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
}
@keyframes Blazing {
	0%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
	25%   { text-shadow: 0 3px 20px red, 0 0 30px red,
		0 0 20px orange,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow; }
	50%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow,
		2px -20px 30px rgba(255,255,0,0.5); }
	75%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		3px -5px 5px yellow,
		-4px -10px 10px yellow,
		2px -20px 30px rgba(255,255,0,0.5),
		0px -25px 40px rgba(255,255,0,0)}
	100%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
}