@font-face {
  font-family: "Wremena";
  src: url("https://cdn.glitch.com/e0876ad4-2883-4d2f-bf08-a90e9d4b0b1e%2Fsubset-Wremena.woff2")
      format("woff2"),
    url("https://cdn.glitch.com/e0876ad4-2883-4d2f-bf08-a90e9d4b0b1e%2Fsubset-Wremena.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Wremena";
  src: url("https://cdn.glitch.com/e0876ad4-2883-4d2f-bf08-a90e9d4b0b1e%2Fsubset-Wremena-Bold.woff2")
      format("woff2"),
    url("https://cdn.glitch.com/e0876ad4-2883-4d2f-bf08-a90e9d4b0b1e%2Fsubset-Wremena-Bold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Wremena";
  src: url("https://cdn.glitch.com/e0876ad4-2883-4d2f-bf08-a90e9d4b0b1e%2Fsubset-Wremena-Light.woff2?v=1576081804643")
      format("woff2"),
    url("https://cdn.glitch.com/e0876ad4-2883-4d2f-bf08-a90e9d4b0b1e%2Fsubset-Wremena-Light.woff?v=1576081804643")
      format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  /*   background: black; */
  /*   color: white; */
  font-family: "Wremena";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Wremena";
  letter-spacing: -0.5px;
}

h1 {
  /*   font-family: "WremenaLight"; */

  font-weight: bold;
  /*   color: white; */
  font-size: calc(2.56 * 1rem);
  line-height: 0.95;
  letter-spacing: -0.5px;
}

h2 {
  font-weight: bold;
  font-size: calc(1.7 * 1rem);
}

h3 {
  font-size: calc(1.4 * 1rem);
  font-family: "Wremena";
}

h4 {
  font-size: calc(1.5 * 1rem);
  font-family: "Wremena";
  font-style: bold;
  margin-bottom: 0rem;
}

h5 {
  font-size: calc(1.2 * 1);
}

#introduction {
  background: rgba(255, 255, 255, 1);
  margin: auto auto;
  padding: 5rem;
}

#introduction > * {
  max-width: 45rem;
}

.landmark {
  padding: 2rem;

  scroll-snap-align: start;
  background: rgba(255, 255, 255, 0.95);
  font-size: 1rem;
  margin: 200vh 0;
}

.landmark p {
  line-height: 1.3;
}

.story {
  /*   color: white; */
}

p {
  font-family: "Wremena";
  line-height: 1.4;
}

.lead {
  line-height: 1.3;
}

.map-background-fixed {
  font-size: 1rem;
}

#mapid {
  /*   background: none; */
  height: 100vh;
  width: 100vw;
  z-index: -1000;
  position: fixed !important;
  top: 0;
  left: 0;
}

/* container */
.scrollstory {
  /*   border: 100px solid red; */
  /*   z-index: 1000; */
  scroll-snap-type: y mandatory;
}

#appendix {
  width: 100vw;
  /*   background: rgba(0, 0, 0, 0.8); */
  height: 50vh;
  display: flex;
  align-items: flex-end;
}

#appendix .container {
  position: relative;
  height: auto;
  bottom: 0;
}
