/* CSS files add styling rules to your content */

body {
  font-family: 'Inter', helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-weight: bold;
  color: #373fff;
}

.landmark {
  background: black;
  color: white;
/*   border: 10px solid red; */
  margin: 80vh 0;
  padding: 3rem;
}
