@font-face {
  font-family: "Source Serif Pro";
  src: url("https://cdn.glitch.com/e0876ad4-2883-4d2f-bf08-a90e9d4b0b1e%2FSourceSerifPro-Regular.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("https://cdn.glitch.com/e0876ad4-2883-4d2f-bf08-a90e9d4b0b1e%2FSourceSerifPro-It.woff2")
      format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("https://cdn.glitch.com/e0876ad4-2883-4d2f-bf08-a90e9d4b0b1e%2FSourceSerifPro-Bold.woff2")
      format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("https://cdn.glitch.com/e0876ad4-2883-4d2f-bf08-a90e9d4b0b1e%2FSourceSerifPro-BoldIt.woff2")
      format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Source Serif Pro";
    src: url("https://cdn.glitch.com/e0876ad4-2883-4d2f-bf08-a90e9d4b0b1e%2FSourceSerifPro-Light.woff2")
      format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Source Serif Pro";
    src: url("https://cdn.glitch.com/e0876ad4-2883-4d2f-bf08-a90e9d4b0b1e%2FSourceSerifPro-LightIt.woff2")
      format("woff2");
  font-weight: 300;
  font-style: italic;
}

