.introduction {
  backdrop-filter: blur(4px) saturate(0%);

  margin: auto auto;
  padding-bottom: 4rem;
}

.intro__p {
  margin: 0 var(--margin-base);
  margin-bottom: 1rem;
}

.intro__h2 {
  margin-top: 2rem;
  margin-left: var(--margin-base);
  margin-right: var(--margin-base);
  margin-bottom: 1rem;

  font-weight: 300;
  font-style: italic;
  line-height: 1.35;
}

.button {
  background: transparent;

  border: 1px solid maroon;
  border-radius: 0.5rem;
  margin-left: var(--margin-base);
  margin-bottom: var(--margin-base);

  outline: none;
  padding: 0.5rem 2rem;

  font-size: 1rem;
  font-family: inherit;
}

.intro_plot-title {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  margin-top: 4rem;
  margin-bottom: 0;
  margin-left: var(--margin-base);
  margin-right: var(--margin-base);
}
