.title {
  font-size: 2rem;
}

.scrollstory {
  scroll-snap-type: y proximity;
}

.viz-figure {
  min-height: 400px;
  margin-bottom: 1rem;
  width: 100%;
}

.vega-embed {
  position: relative;
  display: block;
  width: 100%;
  height: 50vh;
}

.landmark .vega-embed {
  height: 50vh;
  width: 100%;
}
