:root {
  color: var(--c-fg);
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  line-height: 1.5;
}

a {
  color: var(--c-link);
  font-weight: bold;
  text-decoration: none;
  :hover {
    color: var(--c-link-hover);
  }
}

p {
  max-width: 70ch;
}

*::selection {
  background: orange;
  color: black;
}
