@use 'variables';
@use 'fonts';
@use 'layout';
@use 'typography';
@use 'map';
@use 'introduction';
@use 'landmark';
@use 'outro';
@use 'credits';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
